section.dev-preview-section
  .container
    span.main-title.fs-xl.text-underlined Цвета

    <br/>
    <br/>

    .bg-light.flex-centered-content
      span.base-text.color-primary  Основной (.color-primary)
    .bg-light.flex-centered-content
      span.base-text.color-secondary Дополнительный (.color-secondary)
    .bg-light.flex-centered-content
      span.base-text.color-success Успех (.color-success)
    .bg-light.flex-centered-content
      span.base-text.color-warning Предупреждение (.color-warning)
    .bg-light.flex-centered-content
      span.base-text.color-danger Опасность (.color-danger)
    .bg-light.flex-centered-content
      span.base-text.color-info Информация (.color-info)
    .bg-dark.flex-centered-content
      span.base-text.color-light Легкий (.color-light)
    .bg-light.flex-centered-content
      span.base-text.color-dark Темный (.color-dark)
    .bg-light.flex-centered-content
      span.base-text.color-muted Приглушенный (.color-muted)
    .bg-dark.flex-centered-content
      span.base-text.color-white Белый (.color-white)
    .bg-light.flex-centered-content
      span.base-text.color-black Черный (.color-black)
