
section.dev-preview-section
  .container
    span.main-title.fs-xl.text-underlined Типографика

    <br/>
    <br/>

    h1 Заголовок (h1)
    h2 Заголовок (h2)
    h3 Заголовок (h3)
    h4 Заголовок (h4)
    h5 Заголовок (h5)
    h6 Заголовок (h6)

    <br/>
    <br/>

    span.base-title.ff-primary Основной шрифт (.ff-primary)
    span.base-title.ff-secondary Дополнительный шрифт (.ff-secondary)
    span.base-title.ff-accent Акцентный шрифт (.ff-accent)

    <br/>
    <br/>

    span.main-title Главный заголовок сайта (.main-title)
    p.main-text Главное описание сайта (.main-text)
    span.base-title Базовый заголовок сайта (.base-title)
    p.base-text Базовый текст (.base-text)

    <br/>
    <br/>

    p.fs-xl Текст XL (.fs-xl)
    p.fs-lg Текст LG (.fs-lg)
    p.fs-md Текст MD (.fs-md)
    p.fs-sm Текст SM (.fs-sm)
    p.fs-xs Текст XS (.fs-xs)

    <br/>
    <br/>

    p.fs-md.fw-h HEAVY (.fw-h)
    p.fs-md.fw-xb EXTRABOLD (.fw-xb)
    p.fs-md.fw-b BOLD (.fw-b)
    p.fs-md.fw-sb SEMIBOLD (.fw-sb)
    p.fs-md.fw-m MEDIUM (.fw-m)
    p.fs-md.fw-r REGULAR (.fw-r)
    p.fs-md.fw-l LIGHT (.fw-l)
    p.fs-md.fw-xl EXTRALIGHT (.fw-xl)
    p.fs-md.fw-t THIN (.fw-t)
    <br/>
    <br/>
    p.fs-sm.text-italic Курсив (.text-italic)
    <br/>
    <br/>
    p.fs-sm.text-underlined Подчеркивание (.text-underlined)
