include ./main-head

doctype html

block variables

html(lang="ru")
  +main-head(title, description, keywords, styleFileNames)

  body
    //- include ../components/loader
    include ../components/static/main-header

    main
      block content

    include ../components/static/main-footer

    //- Модальные окна используемые на ВСЕХ страницах сайта
    //- include ./modals/callback-modal

    block modals

    //- script(async src="https://api-maps.yandex.ru/2.1/?apikey=4aa8fccd-d097-4486-835a-704db2b05b2e&lang=ru_RU")
